
.companyDetailsBody {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #333;

}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: Pretendard;
    
}



.companyInfoContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1000px;
    height: 300px;
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.2);
    margin-top: 100px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);



}

.companyInfo {

    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 17px;
}

.titleText2 {
    flex: 1;
    margin-left: 20px;
    margin-top: 10px;

}

.requirement {
    padding-bottom: 6px;
}


.titleText3 {
    flex: 1;
    margin-top: 10px;
}

.titleText1 {
    padding: 25px;
    border-bottom: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;

}




.sendButton {
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    cursor: pointer;
    border: 2px solid #3498db;
    background-color: #fff;
    color: #3498db;
    border-radius: 30px;
    transition: background-color 0.5s, color 0.5s;
}

.clickButton {

    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* text-decoration: none; */
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 30px;
    transition: background-color 0.5s, color 0.5s;

    background-color: #3498db;
    color: #fff;

}




.sendButton:hover {

    background-color: #3498db;
    color: #fff;

}

.details {
    width: 1000px;
    height: auto;
    background-color: #fff;
    
    margin-top: 50px;
    font-size: 30px;
    font-weight: 800;


}

.details>p {
    padding: 20px;
    border-bottom: 1px solid rgba(0.1, 0.1, 0.1, 1);
}

.companyProfileContainer {

    width: 1000px;
    background-color: #fff;
    margin-top: 30px;
    height: auto;
    min-height: 300px;


}


.navBar {
    position: fixed;
    left: 0;
    top: 30%;
    transform: translateY(-50%);
    background-color: #3498db;
    padding: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.navItem {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
}

.navItem:hover {
    text-decoration: underline;
}

.companyInfomation {

    border-bottom: 1px solid rgba(0.1, 0.1, 0.1, 1);
}

.companyInfomation>p {

    padding-left: 20px;
    padding-top: 8px;
    font-size: 30px;
    font-weight: 800;
    padding: 20px;
}

.companyProfileContainer {
    margin-bottom: 100px;
}

.companyInfoDetails {

    width: 958px;
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.2);
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 1px 5px 20px rgba(0, 0, 0, 0.1);

}

.deleteButton{

    margin-left: 57%;
    font-size: 16px;
    font-weight: bold;

    /* text-decoration: none; */
    cursor: pointer;
    border: 2px solid red;
    background-color: red;
    color: white;
    border-radius: 30px;
    transition: background-color 0.5s, color 0.5s;
    width: 130px;
    height: 50px;
    margin-bottom: 50px;
}