.modalOverlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.recommendationContainer {
  background-color: white;
  width: 500px;
  height: auto;
  padding: 30px;
}
