
.BackGround{
    background-color: darkgrey;
    width: 80%;
    height: 750px;
    margin-left: 175px;
    margin-bottom: 25px;   
}


.title{
    padding-top: 20px;
    justify-content: center;
    text-align: center;

}

.resume_back_griund
{
    display: flex;
    justify-content: center;
    background-color: aliceblue;
    width: 90%;
    height: 620px;
    margin-left: 70px ;
}

.resume
{
    margin-top: 20px;
    background-color: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 800px;
    height: 80px;
    display: flex;
    gap: 10px;
}