.black_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 00.5);
  position: fixed;
  padding: 20px;
  bottom: 0;
  z-index: 999;
}
.white_bg {
  width: 60%;
  background: white;
  border-radius: 8px;
  padding: 20px;
  margin: 200px auto;
}
.resumTr {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
}
.resumeTd {
  flex: 1;
  padding: 5px;
}
.resumTr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.resumeDev {
  height: 500px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  flex-direction: row;
}
.divTable {
  border: 1px solid #656565;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
}
/* 각 항목 스타일 */
.divTableCell {
  display: flex;
  padding: 20px;
}
.divTableCell p {
  text-align: center;
}
/* 마우스 호버 시 효과 */
.divTable:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.title_head {
  display: flex;
  text-align: justify;
}
.title1 {
  margin-left: 20px;
}
.title2 {
  margin-left: 30%;
  text-align: justify;
}
.title3 {
  margin-left: 30%;
  text-align: center;
}
.createText {
  position: absolute;
  left: 70%;
}
.modifyText {
  margin-left: 60px;
}
.closeBtn {
  margin-left: 95%;
}
.mainTitle {
  text-align: center;
}
.mainText {
  text-align: right;
  color: rgba(107, 107, 107, 0.8);
}
.Line {
  border-bottom: 1px solid gray;
  margin: 30px auto;
  width: 100%;
}
.warningImage {
  padding-left: 42%;
  margin: 5%;
  width: 80px;
  height: 100px;
}
.text {
  text-align: center;
}
.BtnDev {
  padding-left: 40%;
}
.loginBtn {
  width: 100px;
  height: 40px;
  background-color: #156bae;
  border: 1px solid rgba(64, 130, 223, 0.21);
  border-bottom-color: rgba(0, 0, 0, 0.34);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}
.loginBtn:active {
  border-color: #4087bd;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
}
.loginBtn:hover {
  background-color: #0e568e;
}
.cancellationBtn {
  width: 100px;
  height: 40px;
  margin-left: 10px;
  background-color: #ae153e;
  border: 1px solid rgba(223, 64, 130, 0.21);
  border-bottom-color: rgba(0, 0, 0, 0.34);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}
.cancellationBtn:active {
  border-color: #ae155f;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.89), 0 1px rgba(0, 0, 0, 0.05) inset;
}
.cancellationBtn:hover {
  background-color: #ae1573;
}
.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  padding: 20px;
  bottom: 0;
  z-index: 9999;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-top: 4px solid blue;
  /* 상단 색상 지정 */
  border-radius: 50%;
  margin: 200, auto;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  padding: 20px;
  margin: 100, auto;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
