.companyListBody {
    background-color: white;
}
.mainContainer {
    width: 100%;
    height: 100%;
    display: flex;
}

.condition{

    display: flex;
    gap:18px;

}

.companyDetails {
    width: 900px;
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    padding: 30px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    
    
}

.companyTitle{
    display: flex;
    /* gap: 10px; */
    margin-bottom: 10px;
    justify-content: space-between;
    cursor: pointer;
    
}

.companyList {

    margin-top: 30px;
    margin-bottom: 50px;
    
}

.likeConpany {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 30px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid rgba(0.1, 0.1, 0.1, 0.1);
    margin-top: 89px;
    margin-bottom: 50px;
    height: 100%;
    background-color: #3674EA;
    color: aliceblue;
    margin-left: 100px;
    gap: 25px;
    
}

.subTitle {
    margin-bottom: 10px;
    font-size: 23px;
}

.title{
    display: flex;
    justify-content: space-between;
    
}

.registButton {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;

    /* text-decoration: none; */
    cursor: pointer;
    border: 2px solid #3498db;
    background-color: #fff;
    color: #3498db;
    border-radius: 30px;
    transition: background-color 0.5s, color 0.5s;
    width: 130px;
    height: 50px;
}

.registButton:hover {
    background-color: #3498db;
    color: #fff;

}

.pagingContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .pagingBtn {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
    color: #333;
    font-size: 14px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
  }
  
  .pagingBtn:hover {
    background-color: #ddd;
  }
  
  .pagingBtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagingBtn.active {
    background-color: #3498db;
    color: #fff;
  }

  .loadingSpiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 뷰포트 높이의 100%를 차지하도록 설정 */
}