.container h3{
    margin-top: 10vh;
    margin-bottom: -5vh;
    text-align: center;
  }
  .myContainer {
    width: 70vw;
    display: flex;
    justify-content: center; /* 가로축 중앙 정렬 */
    align-items: center;
    margin: 10vh auto; /* 상하 10vh, 좌우 자동 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5%;
    height: 50vh;
}

    .myContainer div {
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      height: 50%;
      margin: 0 10px 0 10px; /* 수정된 부분 */
      border-radius: 10px;
      max-width: 20%;
      flex: 1;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 10px;
  }
  .myContainer div img{
    border-radius: 10px;
    max-width: 95%;   
    max-height: 95%;  
    display: block;    
    margin: auto;      
  }
  /* mypage.module.css */
  
  .myContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .postingItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 아이템들을 컨테이너의 왼쪽으로 정렬 */
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
    margin: 0 10px;
    flex: 0 0 20%;
    /* 기타 필요한 스타일링 추가 */
  }
  
  
  .postingDetail {
    display: inline-block;
    margin-right: 10px; /* 요소 간 간격 조정 */
    text-align: left; 
    /* 필요에 따라 추가 스타일링 */
  }
  .linkContainer{
      display: flex;
      justify-content: flex-end;
      margin-right: 20vw;
      margin-top: 3vh;
      padding: 10px;
    }
    .protectedlink {
      margin-right: 10px; /* 원하는 간격 크기로 조절 */
  }
  .marginDiv {
    margin-right: 10px; /* 원하는 간격 크기로 조절 */
  }
  .btn {
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px 15px;
    background-color: #3674EA;
    color: white;
    border: none;
    border-radius: 10%; /* 원형 버튼 */
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* 버튼의 너비 */
    height: 40px; /* 버튼의 높이 */
  }
  
  .btn:hover {
    background-color: #4682B4; /* 호버 시 배경색 변경 */
  }
  