.anmTopMargin {
    height: 65px;
}

.anmTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.anmTitle h1 {
    font-size: 32px;
}

.seeAllAnm {
    font-family: "Pretendard";
    text-decoration: none;
    color: gray;
}

.beforeBtn {
    margin-left: 15px;
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    border-color: #cccccc;
    cursor: pointer;
}

.afterBtn {
    background-color: white;
    border: 2px solid;
    border-radius: 5px;
    border-color: #cccccc;
    cursor: pointer;
}

.beforeBtn:disabled,
.afterBtn:disabled {
    color: gray;
    pointer-events: none;
    opacity: 0.5;
}

.anmList {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.anmTrack {
    width: 5400px;
    height: 300px;
    display: flex;
    column-gap: 40px;
    
}

.slick {
    outline: none;
    width: 230px;
}

.jobContainer {
    width: 100%;
    height: 100%;
    display: inline-block;
    /* border: 1px solid gray; */
    box-shadow: inset 0px 0px 5px 0px #808080a1;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.jobThumbnail {
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 67%;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px;
    text-decoration: none;
}

.jobThumbnail {
    position: relative;
    margin-bottom: 12px;
    overflow: hidden;
    padding-bottom: 67%;
    background-size: cover;
    background-position: 50%;
    border-radius: 12px;
}

.jobTitle {
    text-decoration: none;
}

a {
    font-family: "Pretendard";
    text-decoration: none;
    color: black;
}
