@media (min-width: 1060px) {
    .mainContainer {
        width: 87.72%;
    }
}

.mainContainer {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 40px 0 140px; /* Header랑 Footer와의 간격 조정*/
}

