.linkContainer {
    display: flex; /* 가로 방향 배치 */
    align-items: stretch; /* 링크들이 컨테이너 높이에 맞춰 늘어나도록 함 */
    height: 5vh;
    width: 100%; /* 컨테이너 너비 100% */
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .activeLink {
    font-weight: bold;
    color: #2a6496;
    border-left: 4px solid #2a6496;
  }  
  .interviewlink {
    display: flex; /* Flex 컨테이너로 설정 */
    align-items: center; /* 세로축 중앙 정렬 */
    justify-content: center; /* 가로축 중앙 정렬 */
    flex-grow: 1; /* 각 링크가 사용 가능한 공간을 균등하게 차지하도록 함 */
    padding: 15px;
    margin-right: 10px; /* 링크 간의 오른쪽 간격 */
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    color: #333;
    text-decoration: none;
    transition: all 0.3s ease;
    border: 1px solid transparent;
  }
  .interviewlink:hover {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    border-color: #d3e0f8; /* 햇빛 효과를 위한 테두리 색상 변경 */
  }