.createResumeBody {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Pretendard-Medium'; /* 폰트 스타일은 원하는 대로 변경 가능 */
    background-color: #ffffff; /* 배경색 */
    color: #333; /* 기본 텍스트 색상 */
}

.logo {
    color: #3674EA;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Pretendard-Medium';
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.formBox {
    background-color: white;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 40px;
}

.profileSection {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
}

.profileImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ddd; /* 이미지 경로를 설정하기 전의 임시 색상 */
    margin-right: 30px;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 4px; /* 항목 간 간격을 조정합니다 */
}

.profileName,
.profileEmail,
.profilePhone {
    margin-bottom: 4px;
}

.userInfoSection {
    margin-bottom: 20px;
}

.userInfoField {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
}

.userInfoField label {
    font-weight: bold;
    margin-bottom: 5px;
}

.userInfoField input {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    font-size: 1em;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.saveButton,
.submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.saveButton {
    background-color: #f0f0f0; /* 저장 버튼 색상 */
}

.submitButton {
    background-color: #007bff; /* 제출 버튼 색상 */
    color: white;
}

.profileContact {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.icon { /* 아이콘 스타일 란 */
    margin-right: 8px;
    font-size: 15px;
    display: inline-block; /* 블록 레벨 요소로 만들어 줄 공간 추가 */
    margin-bottom: 3px;
}

.editButton { /* 수정 버튼 스타일 */
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.profileBirthday { /* 생년월일 입력란 스타일 */
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    margin-left: 12px;
}

.inputField,
.inputFile {
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* 각 입력 필드 사이의 간격 */
    border: 1px solid #ccc;
    border-radius: 4px;
}