/* JoinForm.module.css */

.container {
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 10vh, 0, 10vh, 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 3%;
  padding: 5%, 0, 5%, 0;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10vh;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}


.inputWithButton {
  display: flex;
  align-items: baseline; /* 중복확인 버튼을 텍스트 기준선에 맞춥니다. */
  gap: 10px;
  margin-bottom: 20px;
}


.inputOnly input {
  flex: 2; /* 수정된 부분: 버튼이 차지하는 공간을 포함하여 input이 남은 공간을 차지하도록 수정 */
  border-radius: 5px;
  outline: none;
  transition: box-shadow 0.3s;

  width: 100%;
  padding: 10px;
  border: 1px solid #5d91f1;
  margin-top: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s; /* 포커스 트랜지션 추가 */




}

.inputOnly input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
}

.joinBtn {
  flex: 1; /* 수정된 부분: 버튼이 차지하는 공간을 포함하여 남은 공간을 차지하도록 수정 */
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  background-color: #3674EA;
  color: #fff;
}

.joinBtn:hover {
  background-color: #D0E0FF;
}

/* radio 버튼 스타일링 */
.radioContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.radioButtons {
  display: flex;
  gap: 10px;
}

.radioButtons div {
  display: flex;
  align-items: center;
}

.radioButtons input {
  margin-right: 5px;
}
/* .labelEmail{
  margin-bottom: -5px;
} */



.selectType {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #5d91f1;
  margin-top: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  font-weight: bold;
}
.selectType option{  font-weight: bold;}

.selectType:focus {
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  border-color: #3674EA;
}
.establishmentDate{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #5d91f1;
  margin-top: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
}
.establishmentDate:focus{
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.5);
  border-color: #3674EA;
}