.container h3{
  margin-top: 10vh;
  margin-bottom: -5vh;
  text-align: center;
}
.myContainer {
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin: 10vh, 0, 10vh, 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 5%, 0, 5%, 0;
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 50vh;
  }
  .myContainer div {
    background-color: aquamarine;
    height: 50%;
    margin: 0 10px 0 10px; /* 수정된 부분 */
    border-radius: 10px;
    max-width: 20%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}
.myContainer div img{
  border-radius: 10px;
  max-width: 95%;   
  max-height: 95%;  
  display: block;    
  margin: auto;      
}
