@font-face {
    font-family: "Pretendard";
    font-display: fallback;
  
    src:
      url("../src/fonts/Pretendard-Regular.otf") format("opentype");
      
      /* 폰트 기본 스타일 */
      font-weight: 400;
      font-style: normal;
    }
    
  body {
    font-family: "Pretendard";
    margin: 0;
    padding: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
  }




