.roomListWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.newButtonWrapper {
    padding: 12px;
}


.newChatBtn {
    width: 280px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-family: "Pretendard";
    color: #3674EA;
    font-weight: 600;
    cursor: pointer;
    padding-left: 16px;
}


.roomListMenu {
    height: 300px;
    flex: 1 1 0%;
}

.roomListMenuSet {
    width: 100%;
    flex: 1 1 0%;
}

.roomListMenu1 {
    padding: 10px 15px;
    font-size: 15px;
    height: 40px;
    display: flex;
    align-items: center; 
    color: rgb(104, 104, 104);
}


.roomListMenu2 {
    padding: 20px 15px;
    display: flex;
    border-top: 1px solid rgb(228, 227, 227);
}

.roomListMenu2:hover {
    background-color: #cadbfc;
}

.roomListMenu3:hover {
    background-color: #cadbfc;
}


.roomLists {
    height: 60px;
    padding: 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 8px;
}


.roomLists:hover {
    background-color: #cadbfc;
}


p {
    margin: 0px;
}

.newOrExp {
    display: flex;
    font-size: 14px;
    color: rgb(104, 104, 104);
}