.roomlistMainContainer {
    display: flex;
    width: 300px;
    height: 100%;
    background-color: #e7efff;
    border-right: 1px solid rgb(228, 227, 227);
}


.roomListWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.newButtonWrapper {
    padding: 12px;
}


.newChatBtn {
    width: 280px;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-family: "Pretendard";
    color: #3674EA;
    font-weight: 600;
    cursor: pointer;
}


.roomListMenu {
    height: 300px;
    flex: 1 1 0%;
}

.roomListMenuSet {
    width: 100%;
    flex: 1 1 0%;
}

.roomListMenu1 {
    padding: 10px 15px
}


.roomListMenu2 {
    padding: 20px 15px;
    display: flex;
    border-top: 1px solid rgb(228, 227, 227);
}

.roomListMenu2:hover {
    background-color: #cadbfc;
}

.roomListMenu3:hover {
    background-color: #cadbfc;
}


.roomLists {
    height: 60px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
}


.roomLists:hover {
    background-color: #cadbfc;
}


p {
    margin: 0px;
}

.chatRoomContents {
    width: 100%;
    height: 100%;
    transition: padding-left 0.5s ease 0s;}
